* {
  font-family: sans-serif;
}

p, li {
  line-height: 35px;
}

header {
  background-color: #211a1d;
  color: #ffffff;
  width: 100%;
  padding: 20px;
}

nav {
  display: inline-block;
  width: 100%;
}

header ul {
  margin: 20px 0 0 0;
  padding: 0;
}

header ul li {
  display: inline-block;
  margin-right: 10px;
}

section {
  padding: 5%;
  background-color: #f8f0fb;
}

#dakt {
  color: #81DFE4;
}


h1,
h2,
h3,
h4,
h5 {
  /*Purple*/
  color: #6320ee;
  margin-bottom: 1em;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

button {
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 40px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #372772;
  border: 2px solid black;
  color: #fff;
  
}

footer {
  background-color: #211a1d;
  color: #ffffff;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.introduction {
  background-color: white;
}

#badge {
  height: 120px;
  width: 120px;
  background-color: #51b8e88c;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: #0d101195;
  transition: 3s;
}

#badge:hover {
  background-color: #e5650a;
  height: 150px;
  width: 150px;
  color: #eeeeee;
}

#badge p {
  text-align: center;
  font-size: 125%;
}

img {
  vertical-align: top;
  border: 5px solid;
}

.tigers {
  background-color: #0a313c;
  color:#BEEE62;
}

.giraffe {
  background-color:#483C46;
  color: #56e39f;
}

#tg1, #tg2, #tg3 {
  color:#F4743B;
}

.pgiraffe {
  color: #BEEE62;
}

.lion{
  background-color: #0a313c;
  color:#BEEE62;
}

#liont{
   color: #81DFE4;
}
.news{
  text-align: center;
}

.card {
  display: inline-block;
  background-color: white;
  padding: 20px;
  margin: 10px;
  width: 25%;
  border: 1px solid black;
  border-radius: 10px;
}

.card h4 {
  margin-bottom: 1em;
}

.card a {
  text-decoration: underline;
  font-weight: bold;
}

.card time {
  opacity: 0.5;
  display: inline-block;
  margin-bottom: 10px;
}

/*Education*/

.education {
  height: 500px;
  background-image: url("https://source.unsplash.com/1200x900/?tiger");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 5%;
}

.education-container {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 50px;
  max-width: 400px;
}

.education-container h3,
.education-container p {
  margin-bottom: 1em;
}

/*Membership*/

.membership {
  text-align: center;
  max-width: 700px;
  background-color: #fffffc;
  margin: auto;
}

.membership h2 {
  color: #ff3f00;
}

.membership strong {
  color: #ff7f11;
}

/*Programs*/

.programs {
  display:block;
}
